<div class="container">
    <h1>All Posts</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Description</th>
                <th>Allow Comments</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{status}}</td>
                <td>{{description}}</td>
                <td>{{allowComments}}</td>
                <td><a class="btn btn-info" href='/admin/posts/edit/{{_id}}'d>Edit</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>