<div class="container">
    <h1>All Posts</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Status</th>
                <th>Description</th>
                <th>Allow Comments</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td><img height="50" src="/uploads/{{postImage}}"></td>
                <td>{{status}}</td>
                <td>{{description}}</td>
                <td>{{allowComments}}</td>
                <td><a class="btn btn-info" href='/admin/posts/edit/{{_id}}'d>Edit</a></td>
                <td>
                    <form action="/admin/posts/{{_id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>